<!DOCTYPE html>
<!--
	TODO: Task 1 (done), Task 2(done), Task 3 (done)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
	</head>
	<body>

		<h2>Login Page</h2>
		<form method="post" action="/authenticate">

		<table>
			<tr>
				<td> 
					<label for="username">Username:</label> 
				</td>
				<td>
					<input type="text" id="username" name="username" size="30" 
							placeholder="Enter username" required minlength="2">
				</td>
			</tr>
			<tr>
				<td>
					<label for="password">Password:</label>
				</td>
				<td>
					<input type="password" id="password" name="password"  size="30" 
							placeholder="Enter password" required minlength="2">
				</td>
			</tr>
			<tr>
				<td>
					<label for="answer">Answer:</label>
				</td>
				<td>
					<span th:text="${num1}"></span>
					<span th:text="${op}"></span>
					<span th:text="${num2}"></span>
					<input type="text" id="answer" name="answer" size="10" required>
				</td>
				<td>
					<button type="submit">Login</button>
				</td>
			</tr>
		</table>
		<p th:if="${error}" style="color: red;">[[${error}]]</p>
		</form>
	</body>
</html>
